<div class="container">
  <div class="row">
      <div class="span12">
          <div class="bot1">
              <div class="bot1_inner">
                  <div class="menu_bot">
                      <ul id="menu_bot" class="clearfix">
                          <li class="active"><a href="index.html">Home</a></li>
                          <li><a href="gettingstarted.html">Getting Started</a></li>
                          <li><a href="meals.html">Meals</a></li>
                          <li><a href="enhancers.html">Enhancers</a></li>                                    
                          <li><a href="baking.html">Low-Fat Baking</a></li>

                      </ul>
                  </div>
              </div>
          </div>
          <footer>
              <div class="copyright"><span>&copy; 2017</span><em class="bullet"></em> <span>Lori Levy</span><em class="bullet"></em><span>ThisThin.com</span><em class="bullet"></em><span>All rights reserved</span>  </div>
          </footer>
      </div>
  </div>
</div>

