<div class="container">
  <div class="row">
      <div class="span12">
          <div class="bot1">
              <div class="bot1_inner">
                  <div class="menu_bot">
                      <ul id="menu_bot" class="clearfix">
                        <li routerLinkActive="active"><a routerLink="/home" (click)="setTitle($event)">Home</a></li>
                        <li routerLinkActive="active"><a routerLink="/gettingstarted" (click)="setTitle($event)">Getting Started</a></li>
                        <li routerLinkActive="active"><a routerLink="/meals" (click)="setTitle($event)">Meals</a></li>
                        <li routerLinkActive="active"><a routerLink="/enhancers" (click)="setTitle($event)">Enhancers</a></li>                                    
                        <li routerLinkActive="active"><a routerLink="/baking" (click)="setTitle($event)">Low-Fat Baking</a></li>

                      </ul>
                  </div>
              </div>
          </div>
          <footer>
              <div class="copyright"><span>&copy; 2017</span><em class="bullet"></em> <span>Lori Levy</span><em class="bullet"></em><span>ThisThin.com</span><em class="bullet"></em><span>All rights reserved</span>  </div>
          </footer>
      </div>
  </div>
</div>

