<app-header [pageTitle]="pageTitle"></app-header>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="box1">

          <h1>404</h1>

          <div class="page_notfound clearfix">
            <div class="block1">
              <div class="page-404">
                <p class="txt1">404</p>
                <p class="txt2">PAGE NOT FOUND</p>
              </div>
            </div>
            <div class="block2">

              <p>
                The page you are looking for is unavailable or has not been migrated just yet.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>