<!-- <app-recipe *ngFor="let recipeItem of recipes" [recipeImage]="recipeItem.imageUrl" [recipePdf]="recipeItem.pdfUrl" [recipeName]="recipeItem.recipeName" [recipeDescription]="recipeItem.description"></app-recipe> -->

<!-- [recipeImage]="recipeItem.recipeImage" recipeImage comes from Recipe.ts and recipe.recipeImage is from "let recipe..."" -->
<app-header [pageTitle]="pageTitle"></app-header>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="box1">

          <h1>Meals & Recipes</h1>

          <div id="isotope-options">
            <ul id="isotope-filters" class="clearfix">
              <li>
                <a (click)="setTitle($event)">Show All</a>
                
              </li>
              <li>
                <a (click)="setTitle($event)">Breakfast</a>
              </li>
              <li>
                <a (click)="setTitle($event)">Lunch</a>
              </li>
              <li>
                <a (click)="setTitle($event)">Dinner</a>
              </li>
              <li>
                <a (click)="setTitle($event)">Dessert</a>
              </li>
              <li>
                <a (click)="setTitle($event)">Sides</a>
              </li>
            </ul>
          </div>

          <ul class="thumbnails thumbnails-iisotope" id="isotope-items">
            <app-recipe *ngFor="let recipeItem of recipes | recipeFilter: filter" 
              [recipeCategory]="recipeItem.categoryFilter"
              [recipeImage]="recipeItem.imageUrl" 
              [recipePdf]="recipeItem.pdfUrl" 
              [recipeName]="recipeItem.recipeName"
              [recipeDescription]="recipeItem.description"
              [filter] = "filter"> 
            </app-recipe>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer (fromFooter)="fromFooter($event)"></app-footer>