.description {
    font-style: normal;
    font-family: helvetica, arial;
    font-size: 88%;
    padding: 0 10px;
}

.thumb-isotope {
    max-width: 253px;
    float: left;
    margin-left: 30px;
}
.thumb-isotope .caption {
    height: 160px;
}
.thumb-isotope .thumbnail {
    padding-top: 20px;
}