<app-header [pageTitle]="pageTitle"></app-header>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="box1">

          <h1>Recipes</h1>

          <div id="isotope-options">
            <ul id="isotope-filters" class="clearfix">
              <li>
                <a (click)="setFilter($event)" class="">Show All</a>

              </li>
              <li>
                <a (click)="setFilter($event)" class="">Breakfast</a>
              </li>
              <li>
                <a (click)="setFilter($event)" class="">Lunch</a>
              </li>
              <li>
                <a (click)="setFilter($event)" class="">Dinner</a>
              </li>
              <li>
                <a (click)="setFilter($event)" class="">Dessert</a>
              </li>
              <li>
                <a (click)="setFilter($event)" class="">Sides</a>
              </li>
            </ul>
          </div>

          <ul class="thumbnails thumbnails-iisotope" id="isotope-items">
            <app-recipe *ngFor="let recipeItem of recipes | recipeFilter: filter" [recipeCategory]="recipeItem.categoryFilter" [recipeImage]="recipeItem.imageUrl"
              [recipePdf]="recipeItem.pdfUrl" [recipeName]="recipeItem.recipeName" [recipeDescription]="recipeItem.description"
              [filter]="filter">
            </app-recipe>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>