<li class="isotope-element">
    <div class="thumb-isotope">
        <div class="thumbnail clearfix">
                <figure>
                    <img [src]="recipeImage" />
                </figure>
                <div class="caption"><div class="normal">{{recipeName}}</div> 
                    <div class="description">{{recipeDescription}}</div> 
                    <div class="pad-top-6"><a target="recipe" [href]="recipePdf">Get the Recipe</a></div> 
                </div> 
        </div>
    </div>
</li>

