<app-header [pageTitle]="pageTitle"></app-header>
<div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="box1">

                        <h1>Enhancers</h1>
                        <div class="thumb1">
                            <div class="thumbnail clearfix">
                                <div class="caption">
                                    <h4>
                                        Flavor enhancers are one of the best secrets for preparing low-fat meals!
                                    </h4>
                                    <p>
                                        Try these fat-free flavor enhancers to take flavor of your low-fat meals to a new level of YUM!
                                        They contain no high fructose corn syrup, msg, or
                                        additives that cause allergic reactions or your appetite to spike.
                                    </p>
                                    <p>
                                        <b>Please note:</b> I do not sell these products. I am not affiliated with any company or product. I provide this information
                                        to help you select and consume foods you can enjoy, so you can easily shed fat and/or maintain your ideal weight.
                                        When you adopt a tasty, healthy lifestyle you will find it easy to stick with because you will know <b>how</b> to eat!

                                    </p>
                                </div>
                            </div>
                        </div>
                        <h2>Products</h2>

                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="assets/images/content/stonewallcranberry.png" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Cranberry Relish
                                    </h4>
                                    <p>
                                        This is one of my favorite flavor enhancers. <a href="http://www.stonewallkitchen.com/shop/speciality-foods/condiments/relishes/131212.html" target="stonewall">Stonewall Kitchens</a> is (IMHO) the best.  This is a fat-free flavor enhancer.
                                    </p>
                                    <div class="ib">
                                        Suggestions:
                                        <ul class="ul1">
                                            <li>Mayo replacement on a turkey or chicken sandwich</li>
                                            <li>Use as a dip with pretzels for a savory snack</li>
                                            <li>Use a dollop for topping for a yogurt snack</li>
                                        </ul>
                                    </div>
                                    <div class="gimme-space">
                                         <a href="http://www.stonewallkitchen.com" target="stonewall">Stonewall Kitchens</a> has lots of fat-free flavorful meal enhancers. Once you try some of them, you may find them hard to live without!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="assets/images/content/garlic-hickory-spice.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Primo's Gourmet Garlic Hickory Spice
                                    </h4>
                                    <p>
                                        I found this wonderful spice mix at a sportman's show and I order it online by the case from
                                        <a href="http://www.primosgourmetfood.com/store/pc/garlic-hickory-spice-6-5-oz-10p96.htm" target="primos">Primo's Gourmet Foods</a>. Basically great on everything, it's my go-to spice
                                        and replaces salt and garlic powder in everything I cook.
                                    </p>
                                    <div class="ib">
                                        Suggestions:
                                        <ul class="ul1">
                                            <li>Sprinkle in egg white omelets</li>
                                            <li>Season barbeque meats 2 hours before cooking</li>
                                            <li>Shake into fat-free sour cream wth a heavy hand to create a very tasty dip</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="assets/images/content/peach-mango-salsa.jpg" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Peach Mango Salsa
                                    </h4>
                                    <p>
                                        I love the fresh sweet flavors of mango salsa! There are many brands available, but this one  from La Mexicana is my favorite, and it is always fat-free. You can find it in <a href="http://lamexicanasalsa.com/where-to-buy/" target="salsa">these grocery stores</a> and it has a long fridge shelf-life.
                                    </p>
                                    <div class="ib">
                                        Suggestions:
                                        <ul class="ul1">
                                            <li>Use as a salad dressing in salads</li>
                                            <li>Use as a marinade for meats</li>
                                            <li>Serve as a garnish for vegetable dishes</li>
                                            <li>Top a baked potato with it</li>
                                            <li>Use as a dip for Pretzel Thins or Special K Rice Crackers</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="assets/images/content/salts.png" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Artisan Sea Salts
                                    </h4>
                                    <p>
                                        I got this as a gift from a friend that was visiting, and it has truly changed my life! <a href="http://www.seasalt.com" target="seasalt">Artisan Sea Salts</a> add so much flavor!
                                        They are distributed by Fred Meyers Stores or you can order them on line. Shown here are the  <a href="http://www.saltworks.us/shop/product.asp?idProduct=211#.VhNEkM7BxlI" target="seasalt">The Fume de Sel</a> and the  <a href="http://www.saltworks.us/alderwood-smoked-salt-salish.html#.VhNE1c7BxlI" target="seasalt">Salish</a>, both in a fine grain. 
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <figure class="img-polaroid img-rounded"><img src="assets/images/content/apples-pears.png" alt=""></figure>
                                <div class="caption">
                                    <h4>
                                        Fresh Apples or Pears
                                    </h4>
                                    <p>
                                        Both <a href="http://www.epicurious.com/archive/seasonalcooking/farmtotable/visualguideapples" target="apples">apples</a> and <a href="http://www.epicurious.com/archive/seasonalcooking/farmtotable/visualguidepears" target="pears">pears</a> have lots of health benefits and eating them makes you feel full.
                                        The links will show you a visual reference of the many varieties. Buy 'em, slice 'em, dip 'em, dice 'em! They add a fresh delicious natural sweetness to any meal.
                                    </p>
                                    <div class="ib">
                                        Suggestions:
                                        <ul class="ul1">
                                            <li>Dice and add to your salad, yogurt or oatmeal</li>
                                            <li>Dip thin wedges into your home-made fat-free dips or yogurt</li>
                                            <li>Thinly sliced in a vegetable saute</li>
                                            <li>Bake for a dessert and add a dollop of yogurt and a sprinkle of cinnamon</li>
                                            <li>Perfect commuter food; highly portable — have one on the way home</li>
                                            <li>Use as a replacement for bananas in fat-free banana bread recipe</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
</div>
<app-footer></app-footer>
