<div id="content">
    <div class="container">

        <div class="row">
            <div class="span12">
                <div class="box1">

                    <h2>Playing the Fat Game</h2>

                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded">
                                <img src="assets/images/content/burger-fatgrams.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <h4>
                                    Check the Label
                                </h4>
                                <p>
                                    Sometimes food that looks lean and healthy can be laden with fat. Take this Spicy Buffalo Chicken Wrap for example. It can
                                    fool you into adding a whole day's worth of fat in a sandwich you can eat in 5 minutes!
                                </p>
                            </div>
                            <div class="caption">
                                <h4>
                                    Track Your Fat Intake
                                </h4>
                                <p>
                                    Track and tally the fat grams you consume every day, and try not to exceed your daily goal. What is a reasonable goal? If
                                    you are a woman 20 – 25 grams per day is reasonable to maintain your weight loss. If
                                    you are a guy, 28 – 35 grams per day. Remember that the less fat you consume each day,
                                    the more you will lose.
                                </p>
                                <h4>
                                    Food and Ingredients to Avoid
                                </h4>
                                <p>
                                    Foods to avoid are those that contain any kind of oil, nuts, cheese, avocados. Avoid packaged desserts, ice cream and salad
                                    dressings. Live your life as if high fructose corn syrup is poison, because it is; it
                                    is addicting, and it makes you hungry! Artificial sweeteners also make you hungry. Avoid
                                    white sugar — instead use honey, stevia or organic cane sugar as a sweetener. Do not
                                    consume fruit juices and soda – all kinds of soda (even diet soda) – should also be avoided.
                                </p>
                            </div>
                            <div class="caption">
                                <h4>
                                    Buy Real Food and Learn to Prepare a Few Delicious Low-Fat Meals
                                </h4>
                                <p>Download and review my list of low-fat
                                    <u>
                                        <a href="assets/pdfs/FoodsToBuyAndEat.pdf" target="FoodsToBuyAndEat">Foods to Buy and Eat</a>
                                    </u> and view the
                                    <a [routerLink]="['/meals', 'all']" (click)="setTitle($event)">Meals</a> page for beautiful and delicious super low-fat recipes.
                                </p>
                            </div>
                            <div class="caption">
                                <h4>
                                    Drink Water
                                </h4>
                                <p>
                                    When you are dehydrated, it is all too easy not realize or recognize it. Water, especially with powdered fiber added, makes
                                    you feel full, regulates your bowels, and has no fat and minimal calories.
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded thumb-width1">
                                <a href="assets/images/content/think-thin-bar-larger.png" target="thinkthin">
                                    <img src="assets/images/content/think-thin-bar.png" class="thumb-width1">
                                </a>
                            </figure>
                            <div class="caption">
                                <h4>
                                    Weigh Yourself in the Morning, but not Every Morning
                                </h4>
                                <p>
                                    If you weigh yourself every day, water retention could show up on the scale and destroy your motivation. Weigh yourself every
                                    3 days, right after you get up, just before getting dressed for the day.
                                </p>
                            </div>

                            <div class="caption">
                                <h4>
                                    Be Wary of Products Disguised as Diet Food
                                </h4>
                                <p>
                                    Take this example of the ThinkThin "Diet" bar. It has almost as much fat and calories as a candy bar, and costs twice as
                                    much.
                                </p>
                                <p>It does have more protein than a candy bar, but according to Dr. McDougall (
                                    <span class="book-title">Maximum Weight Loss</span> –page 46) Americans consume about eight times the protein
                                    we need daily, which taxes our kidneys to eliminate the excess, and may lead to osteoporosis
                                    and/or kidney stones.</p>
                            </div>
                        </div>
                    </div>

                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded thumb-width1">
                                <img src="assets/images/content/fruit-bowl-for-meals.jpg" class="thumb-width1">
                            </figure>
                            <div class="caption">
                                <h4>
                                    Eat Often, Be Mindful, and Use a Small Bowl
                                </h4>
                                <p>Eating often and using a small bowl has the best benefits of keeping you feeling satisfied
                                    and never deprived.</p>
                                <p>
                                    Eat a little something every two to three hours to keep your metabolism up. The worst thing you could do is not eat all day,
                                    and then feel entitled to eat a large dinner. This is what I used to do when I would
                                    go on a diet — that and count calories. I was never successful with that, but after I
                                    learned
                                    <b>how</b> to eat at
                                    <a href="http://healthplustoday.com" target="healthplus">HealthPlus</a> in Portland, Oregon, I lost 30 lbs. of fat and haven't see it return.
                                    It's been more than four years.
                                </p>
                                <p>Using a small cereal or fruit bowl will help you control your portions, as long as you avoid
                                    second helpings. If it seems like it is not enough, just wait. In about 20 minutes, a
                                    hormone (called leptin) will send the signal to your brain. IF it takes your body a bit
                                    longer to send that message to your brain, retrain it by chewing slowly, and being mindful
                                    while you are eating - not texting, web-surfing, working, driving, watching tv, or anything
                                    else.</p>
                            </div>
                        </div>
                    </div>
                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="img-polaroid img-rounded">
                                <img src="assets/images/content/sleep.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <h4>
                                    Sleep More
                                </h4>
                                <p>
                                    Michael Matthews, author of
                                    <span class="book-title">Green &amp; Lean</span>, states "Your body naturally burns the most fat while sleeping."
                                    To melt your fat away, consume a
                                    <b>light</b> protein and carb dinner with a beverage that does not contain alcohol, 3 or
                                    4 hours before bedtime. Avoid high–sugar foods in the evening. The author states that
                                    "going to sleep with elevated insulin levels may interfere with fat loss."
                                </p>
                                <p>Insulin, a hormone made by the pancreas, regulates the absorption of sugar and helps your
                                    body turn sugar into energy. So if you consume sugar before bedtime and don't use that
                                    energy, the insulin causes your body to store it in your fat cells.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>