<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="box1">

                    <h1>Do you want to be "This Thin"?</h1>

                    <div class="thumb1">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                    <h2>Learning How to Eat Can Be Fun!</h2>
                                <p>
                                    Can you believe it? We forgot how to eat! We have so many convenient choices: fast food, snack food, microwaveable dinners,
                                    and so on. But the truth is, that isn't eating. If you truly want to lose weight forever,
                                    you have to come to terms with the fact that all those processed and fast foods are made
                                    with loads of fat, sugar and salt.
                                </p>
                                <p>When you adopt this new way of eating, you will get back to basics, be healthier, find it
                                    easy to make food choices, and your fat will melt away.</p>

                            </div>

                            <figure class="img-polaroid img-rounded"><img src="assets/images/content/burger-fatgrams.jpg" alt=""></figure>
                            <div class="caption">
                                <h2>
                                    Why You Weigh More
                                </h2>
                                <p>
                                    Most dishes served in restaraunts and the products on the shelves in grocery stores, including those that are sold as fast
                                    food or ready-made meals, are laden with more fat than you can burn in a day! Start by
                                    becoming aware of how fat-laden the most common foods are, you will develop a whole new
                                    paradigm. You may even think there's a conspiracy theory to make people fat! Maybe there
                                    is... but there is also a way to beat it. There are also some very basic things you need
                                    to understand about how the body works and you will find them very helpful. So start
                                    playing the "Fat Game." It's fun, it's <b>very</b>  rewarding, and once you learn how, 
                                    you will want to up your game and play to win.

                                </p>
                                <p>When you adopt this new awareness and get back to basics, you will be healthier, find it
                                    easy to make food choices, and the fat will literally melt off your body.</p>
                                <p>This is easy. You won't be hungry. You will look and feel better. And ... this information is free! 
                                    
                                </p>
                                <div class="text-right">
                                    <a routerLink="/gettingstarted" class="button1">Get Started!</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>